{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Make a Reservation</h1>
                <p><strong>Reservation Details</strong></p>

                <form action="/make-reservation" method="post" novalidate class="">
                    <div class="row" id="reservation-dates">
                        <div class="col">
                            <div class="mb-3">
                                <input required class="form-control" type="text" name="start" placeholder="Arrival">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="mb-3">
                                <input required class="form-control" type="text" name="end" placeholder="Departure">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Search Availability</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p id="myParagraph">This is some text</p>
                <p>
                    <button id="colorButton" class="btn btn-outline-secondary">Click Me</button>
                </p>
            </div>
        </div>

    </div>

{{end}}

{{define "js"}}

{{end}}